
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>Title</title>
</head>
<body>
<h1>Login</h1>
<div th:if="${param.error}">
    Invalid username and password.
    <div th:if="${session.SPRING_SECURITY_LAST_EXCEPTION}">
        <span style="color: red" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">...</span>
    </div>
</div>
<form method="post" action="/login">
    username: <input name="username" value = "muyz"/>
    password: <input name="password" value = "123"/>
    <button type="submit">Form 登录</button>
</form>
<script type="text/javascript">
</script>
</body>
</html>