<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>Main Page</title>
</head>
<body>

    <a href="/logout">Logout</a>
    <div >token:<span th:text = "${token}"></span></div>
    <div id = "main"></div>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/ajax.js"></script>
    <script type="text/javascript">

        $.ajax({
            url: "/user/get",
            headers:{
                "x-auth-token": localStorage.getItem("token")
            },
            type: "get",
            success: function(data,status) {
                $("#main")[0].innerHTML = JSON.stringify(data);
            }
        })

    </script>
</body>
</html>